name: Verify
on:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Lint code
        run: bun run format && bun run lint
      
      - uses: stefanzweifel/git-auto-commit-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: 'chore: format'
          commit_user_name: 'github-actions[bot]'
          commit_user_email: 'github-actions[bot]@users.noreply.github.com'

  types:
    name: Types
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        
      - name: Check types
        run: bun run typecheck

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        type: ['bun', 'deno', 'node-16', 'node-18', 'node-20', 'node-latest', 'next', 'sveltekit', 'tsc', 'vite']
        include:
          - type: bun
            runtime: bun
          - type: deno
            runtime: deno
          - type: node-16
            node-version: 16
            runtime: node
          - type: node-18
            node-version: 18
            runtime: node
          - type: node-20
            node-version: 20
            runtime: node
          - type: node-latest
            node-version: latest
            runtime: node
          - type: next
            runtime: next
          - type: sveltekit
            node-version: 18
            runtime: sveltekit
          - type: tsc
            node-version: 20
            runtime: tsc
          - type: vite
            runtime: vite

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Bun
        if: ${{ matrix.runtime == 'bun' }}
        uses: oven-sh/setup-bun@v1

      - name: Set up Node
        if: ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Set up Deno
        if: ${{ matrix.runtime == 'deno' }}
        uses: denoland/setup-deno@v1

      - name: Install Playwright Browsers
        if: ${{ matrix.runtime == 'next' || matrix.runtime == 'sveltekit' || matrix.runtime == 'vite' }}
        run: npx playwright@1.38.1 install --with-deps

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Build
        run: bun run build

      - name: Run tests
        run: bun run test:${{ matrix.runtime }}